<div class="card flex flex-col">
  <div class="card-header">
    <h2 class="card-title font-headline">Risk Summary</h2>
    <p class="card-description">Total risks by category</p>
  </div>
  <div class="card-content flex-1 pb-0">
    <ngx-charts-pie-chart [results]="chartData" [scheme]="'ordinal'" [labels]="false" [doughnut]="true" [arcWidth]="0.25" [tooltipDisabled]="false" [customColors]="chartColors" [animations]="true" [legend]="false" [gradient]="true" (select)="onSelect($event)" class="chart-container">
      <ng-template #tooltipTemplate let-model="model">
        <div class="chart-tooltip-content">
          <span>{{ model.name }}: {{ model.value }}</span>
        </div>
      </ng-template>
    </ngx-charts-pie-chart>
  </div>
  <div class="card-footer flex-col gap-2 text-sm">
    <div class="flex w-full items-center justify-center gap-2 font-medium leading-none">
      <span class="text-3xl font-bold critical-text">{{ criticalRiskCount }}</span> Critical Risks
      <app-trending-up-icon class="critical-icon"></app-trending-up-icon>
    </div>
    <div class="leading-none text-muted-foreground">
      Showing total risks for all assets
    </div>
  </div>
</div>
